.nav {
  position: absolute;
  height: 65px;
  right: 60px;
  top: 35px;

  display: flex;
  justify-content: space-between;
}

.nav > div {
  width: 65px;
  height: 65px;
  margin: 10px;

  cursor: pointer;
}
