.background {
    position: absolute;
    width: 1920px;
    height: 1080px;

    z-index: 3000;

    background: #B6B6B6;

    > * {
        position: absolute;
    }

    .nav {
        z-index: 100;

        width: 174px;
        height: 174px;
        top: 110px;
        left: 62px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div {
            position: relative;
            width: 174px;
            height: 48px;

            font-family: 'GyeonggiBatang';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;

            color: #B6B6B6;

            display: flex;
            align-items: center;
            justify-content: center;

            > * {
                position: absolute;
                cursor: pointer;
            }
            div {
                z-index: 10;
            }
        }
        > .selected {
            color: #17120E;
        }
    }

    .arrow_nav {
        position: unset;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 100;
        }
        .prev {
            left: 45px;
        }
        .next {
            right: 45px;
        }
    }

}

.warning {
    position: absolute;
    z-index: 9999;

    width: 1000px;
    height: 315px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .content {
        position: absolute;   
        top: 100px;
        left: 50%;
        transform: translateX(-50%);

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        /* or 36px */

        text-align: center;

        color: #DACCA7;
    }
    .button {
        position: absolute;
        width: 340px;
        height: 60px;

        bottom: 58px;
        left: 50%;
        transform: translateX(-50%);

        border: 1px solid #DACCA7;
        border-radius: 50px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 60px;
        /* identical to box height */

        text-align: center;

        color: #DACCA7;

        &:active {
            background: #DACCA7;
            color: black;
        }
    }
}