div.body {
    position: relative;
    width:100%;
    height: 100%;
}

.box {
    position: absolute;
    color: black;
    width: 100px;
    border-radius: 10px;
    padding: 2em;
    margin: auto;
    user-select: none;
    background: lightgrey;
  }

div#background{
    position: absolute;
    top: 0%;
    background-color: rgba(0,0,0,0.52);
    width: 100%;
    height: 100%;
}

#step1, #step2, #result {
    width:100%;
    height: 100%;
}
.display-none{
    display: none;
}

.active {
    position: absolute;
    display: block;
}

.obj{
    position: absolute;
    top: 20%;
    left: 30%;
}

.clue{
    position: absolute;
    top: 20%;
    left:30%;
}
.banner>:hover {
    filter: brightness(70%);
}
.btn1{
    position: absolute;
    top: 72%;
    left:20%;
}
.btn2{
    position: absolute;
    top: 72%;
    left:50%;
}
.button-txt{
    position: absolute; /* 핵심코드 */
    top: 82%; /* 핵심코드 */
    left: 34%; /* 핵심코드 */
    transform: translate( -50%, -50%); /* 핵심코드 */
    font-style: bold;
    text-align: center;
    /*
    width: 229px;
    background-color: rgba(0,0,0,0.02);
    border-radius: 5%;
    height: 66px;
    */
}
.button-txt2{
    position: absolute; /* 핵심코드 */
    top: 82%; /* 핵심코드 */
    left: 63%; /* 핵심코드 */
    transform: translate( -50%, -50%); /* 핵심코드 */
    font-style: bold;
}
.banner {
    top:380px;
    left:531px;
    background-size: cover; /* 핵심코드 */
    position: relative; /* 핵심코드 */
    display : inline-block;
    margin-top: 10px;
    margin-bottom: 5%;
    margin-left: 0%;
    padding-left: 0%;
    max-width: 100%;
    background-repeat :no-repeat;
    background-color: rgb(234, 232, 232);
    border-radius: 5%;
    width: 859px;
    height: 319px;
}
  
.banner-txt {
    position: absolute; /* 핵심코드 */
    top: 45%; /* 핵심코드 */
    left: 50%; /* 핵심코드 */
    transform: translate( -50%, -50%); /* 핵심코드 */
    font-size: x-large;
}
p.important{
    font-size: 28px;
    font-weight: bold;
}
p{
    font-size: 18px;
}
img, p, h2{
    -webkit-user-drag: none;
    user-select:none;
}
.App {
    text-align: center;
    user-select:none;
  }
  
  .App-logo {
    pointer-events: none;
  }