#root {
  width: 100vw;
  height: 100vh;
  background: black;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* position: absolute; */
}

#App {
  background: white;
  position: relative;
  overflow: hidden;
}
