.nav_button {
  z-index: 2222;
  position: absolute;

  top: 117px;
  left: 50px;

  font-family: 'GyeonggiBatang';
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 44px;

  .button {
    position: absolute;
    width: 241px;
    height: 44px;
    color: #fff8e4;

    cursor: pointer;

    > img {
      position: absolute;
      width: 11px;
      height: 9px;
      top: 18px;
      right: 19px;
    }
  }

  .dropdown {
    position: absolute;

    > div {
      position: absolute;

      width: 241px;
      height: 44px;

      color: #fff8e4;
    }
  }
}

.nav_arrow {

  > img {
    position: absolute;
    z-index: 2222;
    cursor: pointer;

    top: 50%;
    transform: translateY(-50%);
  }
  > img:first-child {
    left: 40px;
  }
  > img:last-child {
    right: 40px;
  }
}

.location {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;

  background: black;

  > img {
    position: absolute;
    cursor: pointer;
    z-index: 2500;
  }
  .background,
  video {
    position: absolute;
    width: 1920px;
    height: 1080px;
  }
  .desk {
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: 999;
  }
}
.display-none {
  display: none;
}

#bHelpBtn{
  background-color: aqua;
  width:300px;
  height: 200px;
  top: 200px;
  left: 300px;
}

.hero {
  position: absolute;
  z-index: 1000;

  // background: blue;
  width: 500px;
  height: 600px;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
}