@font-face {
    font-family: 'Inter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.background {
	width: 1920px;
	height: 1080px;
}

#info {
	position: absolute;
	width: 795px;
	height: 112px;
	left: 563px;
	top: 43px;
}

#ch1 {
	position: absolute;
	left: 225.59px;
	top: 154.65px;
}

#ch2 {
	position: absolute;
	left: 1297.59px;
	top: 154.65px;
}

#ch3 {
	position: absolute;
	left: 761.59px;
	top: 154.65px;
}

#res1 {
	position: absolute;
	width: 130px;
	height: 130px;
	left: 438px;
	top: 821px;
}

#res3 {
	position: absolute;
	width: 130px;
	height: 130px;
	left: 1038px;
	top: 821px;
}