.wrap {
  width: 1920px;
  height: 1080px;
  position: relative;
}

.object,
.target {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 440px;
}

.object {
  background: gray;
  left: 500px;
}
.target {
  border: 5px solid blue;
  right: 500px;
}
