.window {
  position: absolute;
  width: 1000px;
  height: 650px;
  left: 460px;
  top: 215px;
}

.nav {
  position: absolute;
  width: 213px;
  height: 151px;
  left: 298px;
  top: 215px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav > div {
  width: 213px;
  height: 73px;
}

.audio_inputs {
  position: absolute;

  width: 428px;
  height: 272px;
  left: 379px;
  top: 152px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.x {
  position: absolute;
  width: 27.5px;
  height: 27.5px;
  left: 1396px;
  top: 255px;
}
