// .Nav {
//   z-index: 1100;
//   position: absolute;
//   width: 1920px;
//   height: 1080px;
//   top: 0;
//   left: 0;
//   z-index: 1100;
// }

.home {
  z-index: 3333;
  position: absolute;
  width: 205px;
  height: 43.56px; 
  left: 66px;
  top: 48px;
}

.buttons {
  position: absolute;
  width: 430px;
  height: 50px;
  right: 57px;
  top: 50px;

  display: flex;
  justify-content: space-between;

  > div {
    position: absolute;
  }

  > div:nth-child(1) {
    width: 135px;
    height: 50px;
    left: 0px;
    z-index: 3333;
  }
  > div:nth-child(2) {
    width: 135px;
    height: 50px;
    left: 155px;
    z-index: 3333;
  }
  > div:nth-child(3) {
    width: 50px;
    height: 50px;
    right: 70px;

    z-index: 10000;
  }
  > div:nth-child(4) {
    width: 50px;
    height: 50px;
    right: 0px;

    z-index: 10000;
  }
}
