@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

audio { display:none; }

#dialogue_container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

#dialogue_bg {
	position: absolute;
	z-index: 1111;
	width: 1716px;
	height: 215px;
	left: 102px;
	top: 828px;
	background: url("ScriptBackground.png");
}

.name1 {
	width: 103px;
	color: black !important;
	background: url("Namebox_01.png")
}

.name2 {
	width: 103px;
	background: url("Namebox_02.png")
}

.name3 {
	width: 127px;
	background: url("Namebox_03.png")
}

.name4 {
	width: 148px;
	background: url("Namebox_04.png")
}

.name5 {
	width: 197px;
	background: url("Namebox_05.png")
}

.dialogue_name {
	position: absolute;
	z-index: 1111;
	width: 128px;
	height: 45px;
	left: 350px;
	top: 855px;
	font-family: 'GyeonggiBatang';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #DAD5AB;
}

.dialogue_name span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
}

.dialogue_content {
	position: absolute;
	z-index: 1111;
	width: 1200px;
	height: 111px;
	left: 350px;
	top: 925px;
	font-family: 'GyeonggiBatang';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 170%;
	letter-spacing: -0.025em;
	color: #F8F1DA;
	white-space: pre-line;
}

#character {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	bottom: 0px;
}

.blur {
	position: absolute;
	width: 1920px;
	height: 1076px;
	left: 0px;
	top: 2px;
	background: rgba(0, 0, 0, 0.6);
}

.question {
	position: absolute;
	width: 232px;
	height: 39px;
	left: 844px;
	top: 270px;
	font-family: 'GyeonggiBatang';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	color: #FFFFFF;
}

.answer {
	position: absolute;
	width: 900px;
	height: 70px;
	left: 510px;
	font-family: 'GyeonggiBatang';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #FFFFFF;
	background: url("UI_optionbox_normal.png")
}

.answer span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
}

#answer0 {
	top: 375px;
}

#answer1 {
	top: 499px;
}

#answer2 {
	top: 623px;
}

#answer3 {
	top: 747px;
}